<div class="experience-detail-info">
  <div class="text-header experience-detail-header">GREAT MODE</div>

  <div class="text-content experience-detail-header">
    <div>"GREAZE MODE"</div>
    <div>Producer: MADEINVIETNAMTEAM</div>
    <div>Director: JINHOON</div>
    <div>Photo: NIC NGO</div>
    <div>Stylist: <a target="_blank" href="https://www.facebook.com/profile.php?id=100093507734910&__cft__[0]=AZUDX22c8WxH8AopAlXc3Qxv6Hu63Zhc7Txw6_myfGRzJAtkP8_ONYNRXA_cAU89d9xXgQAN2lnrVS2zOSavhrVhCyjPyHD5GHOpqSYfAvgagg&__tn__=-]K-R">Amber Linh</a></div>
    <div>Makeup and Hair: VU QUAN.</div>
    <div>Model: Huỳnh Brando</div>
    <div>Fashion: BUTUNI</div>
  </div>
</div>

<div class="mb-[48px]">
  <div class="grid grid-cols-1 md:grid-cols-[3031fr_2317fr_539fr_502fr_1000fr_2081fr_3256fr] gap-[12px] mb-[36px] relative">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/zz4x1yuisiog7zjsdrlt.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/pqf1nmfx3oioxsmonlsz.png"
      imgClass="w-full"
      class="md:col-span-3"
    ></app-image-viewer>
    <div class="hidden md:block"></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/zhrwpjkd8mxzjwxossle.png"
      imgClass="w-full"
      class="md:col-span-2 md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/ha2wdkq4rxiveh7x3ort.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/jkbjdpcvhb3oybalklra.png"
      imgClass="w-full"
      class="md:col-span-2 md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/j0ltizo90wuhpp9pzlls.png"
      imgClass="w-full"
      class="md:col-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/awsnuhpn65f8xmyx6vvq.png"
      imgClass="w-full"
      class="md:col-span-3 md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/ggr7mjgztnd2lmerjea7.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/jbhifdwqj172mv3vibfi.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/crugl0yethdxzbrfhphw.png"
      imgClass="w-full"
      class="md:col-span-2"
    ></app-image-viewer>
  </div>
</div>

<div class="experience-detail-info">
  <div class="text-header experience-detail-header">HAN LE STUDIO</div>

  <div class="text-content experience-detail-header">
    <div>Collection: Spring is coming</div>
    <div>Producer: Dao Linh Chi</div>
    <div>Photo: <a target="_blank" href="https://www.facebook.com/profile.php?id=100093507734910&__cft__[0]=AZUDX22c8WxH8AopAlXc3Qxv6Hu63Zhc7Txw6_myfGRzJAtkP8_ONYNRXA_cAU89d9xXgQAN2lnrVS2zOSavhrVhCyjPyHD5GHOpqSYfAvgagg&__tn__=-]K-R">Amber Linh</a></div>
    <div>Cam: Summer Viethoan</div>
    <div>Model: Hoa Dan</div>
    <div>Stylist: Cam Ly Le</div>
    <div>Brand: Hanle</div>
  </div>
</div>

<div class="mb-[48px]">
  <div class="grid grid-cols-1 md:grid-cols-[1810fr_2097fr_1808fr_2097fr_1794fr_2098fr] gap-[12px] mb-[36px] relative">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/ibotqutan0wyh0xqfk8s.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/ufxzupujrlrhj2aj51or.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/a0q343avqz0x8dvvpsew.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/nrdjpkwwhzs9sszvslbx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/bjbz3nlhtrhywmiepv46.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/rowibfmvyhlhuzmsm4qz.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/jvpety56maqpgmd0zskj.png"
      imgClass="w-full"
      class="w-full md:absolute md:w-[11%] md:top-[87%] md:left-[16.2%]"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2307fr_2675fr_repeat(3,2307fr)] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/vqqx6bxkeexvymwllbfe.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/gvn8usdtf4z7ilyi8b7f.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/pdmtzh2yeo3gef2gfizu.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/krlk1erkhe0gajxohpkw.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/quvxerxhjbn0xmqejlqt.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[5925fr_5315fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 md:grid-cols-[2530fr_2588fr_1205fr] gap-[12px] mb-[12px] relative">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/euk0lytxvjrquuveqgl3.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/wqlrdu03rapeen4w551h.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/rj3jqdsciaa5nbigkhus.png"
        imgClass="w-full md:w-[unset] md:h-full"
        class="w-full md:w-[unset] md:absolute md:h-full md:top-0 md:left-[82%]"
      ></app-image-viewer>
    </div>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/qyroftxdftpchbcd1qw2.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[3042fr_3298fr] gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/qxevc7l3r894vmqppjhf.png"
        imgClass="w-full"
        class="md:row-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/djaoitm2d7vkgbiwipad.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/vbltbvwjahxa7ljy3d2b.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>
</div>

<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Emoi Jewerly</div>

  <div class="text-content experience-detail-header">
    <div>Collection: Fullmoon</div>
    <div>Producer: Linh Nguyen</div>
    <div>Photo: AJ</div>
    <div>Stylist: <a target="_blank" href="https://www.facebook.com/profile.php?id=100093507734910&__cft__[0]=AZUDX22c8WxH8AopAlXc3Qxv6Hu63Zhc7Txw6_myfGRzJAtkP8_ONYNRXA_cAU89d9xXgQAN2lnrVS2zOSavhrVhCyjPyHD5GHOpqSYfAvgagg&__tn__=-]K-R">Amber Linh</a></div>
    <div>Brand: Emoi</div>
  </div>
</div>

<div class="">
  <div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/vmqwpdyvrnehxypo48bx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/xg9hanbzh5clxobyfazy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/n8dgpnlcbeclvwqzqopm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/pzuskwlspuyhvanmjbmp.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/wnbvsy2qrjp3udua6i5p.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/zv5xdco3s2wfneshkr0l.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/avzub6syliy2bbx5baf5.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/gyyuazc7gotgc2k8udbn.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/qke5kvqcvcjjxdjt7nni.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/nt5edeu4uhrqjyg5ripm.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2401fr_repeat(2,1800fr)_repeat(2,2401fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/qqftb755q758cmxgj19a.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/cgf8mg2wwnynzo2aohue.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/d5kr3y6ya7bmgqfsosf5.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/l18da63kxkik55jv3qq8.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/photo/qyrypjxeqyj98dyi2z0u.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
