<div class="experience-group-title-wrapper">
  <div class="experience-group-title">
    Cover facebook, website
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[6476fr_6458fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/xxftptzgwrgrvsadvmsv.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/quy4gn8gnh2ztt6cwndd.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[4220fr_4279fr_4281fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/dfwwyhwlb53wzepqndps.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/slhkasatponbtvks7hbd.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/rkejmm38bds2rp9nz2ci.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/cjdzteco6b5ux7d0ny4m.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/zhokmzjkeclyjhtslkbo.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/yhkfaett9mrfhhj3vdo2.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/atzusej65boeiyb3w9hl.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/uiuwvkxeyrdy0tftziys.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-rows-[repeat(3,1fr)_3fr] md:grid-cols-[repeat(2,2547fr)_7572fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/eqtopcfi9rcxakt7rfjy.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/ijnewtwasfmbx7zyvl9j.png"
    imgClass="w-full"
  ></app-image-viewer>

  <div class="md:row-span-4 grid grid-cols-1 gap-[12px]">
    <div class="grid grid-cols-1 md:grid-cols-[4938fr_2634fr] md:content-start gap-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/fgx8rralltyqty3ykthd.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/kzaaptswcxkrt7qza6qa.png"
        imgClass="w-full"
        class="md:row-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/nra3l4qzwmnb5vd8bj8y.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/yq0dgqyj6lxfvzcdp8r0.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/qvuoktlxtyfw8wkryc4i.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/ntuoi5yhp7f17q3lcphh.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/a3xe0dkemmf4pbuw1hd9.png"
    imgClass="w-full"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/t9bgcqpgbytnbonux7l1.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/zsvmlzmkds8egoztiqdz.png"
    imgClass="w-full"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/hj7neu79sqrwkrfuntu9.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[2748fr_7209fr_2255fr] gap-[12px] mb-[12px]">
  <div class="md:row-span-2 grid grid-cols-1 gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/a2iyqfftw3d1qh3cv8hu.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/t6doyi63axyfuwikh78e.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2108fr_5089fr] gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/umuzlrbxnzhidcqtx0d1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/mpq3mtvynxjlrskvc3jh.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="md:row-span-2 grid grid-cols-1 gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/gf1pvwid51rwousbjsx7.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/oq8jbzbxp3ofxy5pwttw.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/g8pacmn2g1gswso7nzbk.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/e78ioyvduaxqgpwtihjk.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3870fr_3664fr] gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/qr5n36hdkeikw4sfyojs.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/wliu1hempkz3dnsgiloc.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

</div>

<div class="grid grid-cols-1 md:grid-cols-[3863fr_2311fr_1666fr_1391fr_3501fr] md:grid-rows-[1866fr_535fr_814fr_307fr_1033fr] gap-[12px] mb-[12px]">
  <div class="md:row-span-5 grid grid-cols-1 gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/ceziz8u2ybnckdbhuwfw.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/fdbtmaoy5ofdojiflpsi.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/e1h1dtrilimmxn2ysj2j.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="md:row-span-5 grid grid-cols-1 gap-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/rs5m1wo88mrlkcmvd7pd.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/mg75tyfsyod7sdjq1dtn.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/kxv3ir8i38o61ojbsqdn.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/e3zmxulop4chjkzy1hab.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/xpw4p1xwz8ebblajdao5.png"
    imgClass="w-full"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/f3vwquyzfq9qona6g6da.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/ksms2p9nuqpfod6a4civ.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/hn2csb911rsuu1yulx7k.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/voujrjoh7fexdryvymns.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/l9yylkptp4ptufn45lxs.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/vetprljfkywoovacngtx.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/qqklm4jl1bhcj1qlmz0k.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/dqztdp2a8fme7se465n4.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-cover/qvwcqqhcqud94zfgyygb.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>
