<div class="experience-group-title-wrapper">
  <div class="experience-group-title">
    Facebook post
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-8 gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/tehg8fjkcbwoucayqvrn.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/rovw559myqw4t4ye5zfu.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/rpujubdmmetvrmzdtsqh.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/qyn7orl7ttshm502j6ps.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/hleiipxwlz4s9hdcmi0v.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/osdsx2873jiixbvirxer.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/tpevi9zlt7zaaehvg24t.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/yhi20lxioapetpohmzj2.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[800fr_repeat(3,2307fr)_2214fr_800fr] gap-[12px] mb-[12px]">
  <div class="hidden md:block"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/zy4yjt0tgwyyfbcmujgx.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/pnczoryavigrsa8jimv0.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/im9lqd4a7wdmzlkvnkfj.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/nqqaty5mmek6ffs7cnfm.png"
    imgClass="w-full"
  ></app-image-viewer>
  <div class="hidden md:block"></div>
</div>

<div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/rrtcweoj55cnm3zwr5rb.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/nr90e1ff3xyy17wztlom.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/zi9tqyxpkeevu2h69wnw.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/sp3g2umxocnndqpaweb3.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/p7maxqwqsmb9tf9zjve3.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[repeat(2,1876fr)_1218fr_1876fr_1735fr_2115fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/tlsvctet3gqmcxeyed8f.png"
    imgClass="w-full"
    class="md:row-span-4"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/ydrseglx2qftnrfrc6el.png"
    imgClass="w-full"
    class="md:row-span-4"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/kcmjhajezsq1xjkjjydy.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/hy3kuedobrb4hbz4war8.png"
    imgClass="w-full"
    class="md:row-span-4"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/vpulgycposmintmo9kb0.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/ye4tydwgsjr8yyl8runi.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/kw96fotv6norrkttpaub.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <div class="hidden md:col-span-4"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/pp1lbpmrg3whecszfidq.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-post-1/mbgavt1hvo3yiwuodmw9.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
</div>
