<div class="experience-detail-info">
  <div class="text-header experience-detail-header">ROSSIE</div>
</div>

<div class="mt-[36px]">
  <div class="grid grid-cols-1 md:grid-cols-[5504fr_5484fr_5508fr_5496fr_5497fr] gap-[12px] mb-[12px]">
    <div class="md:row-span-2 grid grid-cols-1 gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/j0arrevkb3shrrgf80pa.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/liza7gl8mm4g8rhas3nb.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/kp8uigzhx9aexmc8s05t.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="md:row-span-2 grid grid-cols-1 gap-[12px] content-end">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/tiftag2rxxlattwm2yff.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/jhglhdovo1cwbzmqfmhk.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="md:row-span-2 grid grid-cols-1 gap-[12px] content-end">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/zhn09kt0gy7poy45cp07.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/afeuxkgd7kgswflanwjy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/fjks7dc35ig1kcasqqrh.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 gap-[12px] content-end">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/aanpt6iws4guouhyzxlv.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/xc6w5mqdnnoi6j3vet9r.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 gap-[12px] content-end">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/v20zx3drdkgjl1pmnzlo.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/aiohr25n2zpcq6ymjegt.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="md:col-span-2 grid grid-cols-1 md:grid-cols-[8256fr_2749fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/hzlxp0xv4xrkgft9mjnb.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/collage/qy0zg34rxdergzl1n1in.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2594fr_3679fr_2515fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/nxqfntiytntbnvrb5ioy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/tvqp8uw8o9fu3ambfrjh.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/prk0ho77azbjotulvbhk.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2153fr_repeat(2,2122fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/raixcc5vernxl7mwohlm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/gogob6kgoryvfp2rfuql.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/cf0ucrlebgjmld8midh8.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3336fr_2141fr_2246fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/yzmkuhbwcqjpsovsxrki.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/kbwhugo3newvw7rgzfx5.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/rossie/nqkhiasunb6h8ahhubd6.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
