<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Personal Project</div>

  <div class="text-content">
    My personal project about designing, editing video, etc., inspired by the nature, drawing and everything around me.<br/>
    My project / not for sale.
  </div>
</div>

<div class="experience-detail-main">
  <div class="grid grid-cols-[2403fr_6411fr] gap-[12px] justify-between">
    <img
      class="w-full"
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693563748/linh-amber-design/personal-projects/vg3wsbstgvteqyutjeyd.png"
      alt=""/>
    <img
      class="w-full"
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693563751/linh-amber-design/personal-projects/o4gdsbtogyhl9izshuph.png"
      alt=""/>
  </div>
</div>
