<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Personal Project</div>

  <div class="text-content">
    My personal project about designing, editing video, etc., inspired by the nature, drawing and everything around me.<br/>
    My project / not for sale.
  </div>
</div>

<div class="experience-detail-main">
  <div class="grid grid-cols-1 md:grid-cols-[2403fr_6411fr] gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693563748/linh-amber-design/personal-projects/vg3wsbstgvteqyutjeyd.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693563751/linh-amber-design/personal-projects/o4gdsbtogyhl9izshuph.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693580408/linh-amber-design/personal-projects/swhjkrsgorzxtmnhvulv.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693580279/linh-amber-design/personal-projects/rcbpwixezfcnz3ve9y65.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-center mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693585188/linh-amber-design/personal-projects/gnczhs6xlhhakctxhaub.png"
      imgClass="w-full md:w-[50%]"
      class="flex justify-center"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-between">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693583393/linh-amber-design/personal-projects/xvffbdl3k7fhoyj8cgop.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
