<div class="page-container">
  <div class="contact-basic">
    <div class="contact-header">
      <div>Hello</div>
      <div>Contact</div>
      <div>me</div>
      <div>anytime.</div>
    </div>

    <div class="contact-icon-grid">
      <a href="mailto:linhamber.designer@gmail.com">
        <img src="assets/images/icon-email.svg" alt=""/>
      </a>
      <a href="tel:+84355840696">
        <img src="assets/images/icon-phone.svg" alt=""/>
      </a>
      <a href="#" target="_blank">
        <img src="assets/images/icon-instagram.svg" alt=""/>
      </a>
      <a href="#" target="_blank">
        <img src="assets/images/icon-whatsapp.svg" alt=""/>
      </a>
    </div>
  </div>

  <div class="contact-detail-grid">
    <div class="contact-detail-item">
      <img src="assets/images/icon-phone.svg" alt="">
      <div>
        <div class="contact-detail-field">Number Contact</div>
        <div class="contact-detail-value">0355 840 696</div>
      </div>
    </div>
    <div class="contact-detail-item">
      <img src="assets/images/icon-email.svg" alt="">
      <div>
        <div class="contact-detail-field">Project Contact</div>
        <div class="contact-detail-value">linhamber.designer@gmail.com</div>
      </div>
    </div>
    <div class="contact-detail-item">
      <img src="assets/images/icon-instagram.svg" alt="">
      <div>
        <div class="contact-detail-field">Lynk Levy</div>
        <div class="contact-detail-value">linh.amberdesigner</div>
      </div>
    </div>
    <div class="contact-detail-item">
      <img src="assets/images/icon-whatsapp.svg" alt="">
      <div>
        <div class="contact-detail-field">Lynk Levy</div>
        <div class="contact-detail-value">0355 840 696</div>
      </div>
    </div>
  </div>

</div>
