<div class="experience-detail-info">
  <div class="text-header experience-detail-header">HAT DAU NHO (A little bean)</div>

  <div class="text-content">
    Small Beans - Specializes in providing nutritious snacks, making nut milk and baby food.<br/>
    BRANDING - DESIGNS
  </div>
</div>

<div>
  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/hat-dau-nho/v9ghpaurko1ejgcg26xs.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/pl95ssu7e7heirrs4lwr.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-4 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/yad6djbj5r38dqj10c7p.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/aqwxuyrvcznetlzlxrr2.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/aqyo63yf4ldo7bdcyqde.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/xbslhwqcwlfna81lfxrw.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/zdukt58qhv3n0qsknfip.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/iovjtwvnn3u5wr6iama1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/mz2j95zexuxxmrd3oxso.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/f5llipxvynntv66dyedm.png"
      imgClass="w-full"
    ></app-image-viewer>

    <div></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/zmler5eoqaujpcy4koqx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/gzshjzatljo7kwncbwff.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div></div>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/alczg6r6uvhk2j4obkt5.png"
      imgClass="w-[50%]"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/fnrjattr1mlkqaivvr3c.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/zilctklud2bxgkeydnet.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586960/linh-amber-design/hat-dau-nho/rcnfzrot1khwqxmgnryx.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
