<div class="experience-group-title-wrapper">
  <div class="experience-group-title">
    Ecommerce
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[repeat(2,3212fr)_4317fr] gap-[12px] mb-[12px]">
  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/eqttjup3yoocghaitoid.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/xwmgykq2uhlfghextcow.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/cdij9dazeqcvbydphgzt.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/thimbeyf7koruqel6lu5.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/dlhiczxsdouq0yquochq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/mizenlvdgvbpvtejvbud.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/kyxsqvvagivxayqjwftp.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1892fr_repeat(2,1005fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/zn2gvpaqe66tsvsaeq5b.png"
      imgClass="w-full"
      class="md:col-span-3"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/ypkrjroqwxjpvrbi5qh9.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/rwohs1in8m39dgd6lnmf.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/yreqgcfarmrbpqbdoyvm.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[repeat(2,2046fr)_repeat(2,2597fr)_1572fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/nja4ojadwvbjqjzum8hw.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/mpbraoftm8domjf7cwmf.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/pdsemfym5orsnxe8wccg.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/goycu2z17ekuyrgrybzx.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ron25uons7nvmlirrwab.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/loumw0ihgzfwrkhyx0xw.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/mnd87x9snbgdwppbv13m.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/k6wiz9yk72aoiksijxw2.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[2464fr_repeat(2,1864fr)_2730fr_1465fr] gap-[12px] mb-[12px]">
  <div class="hidden md:block md:h-[24px]"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/xvouema7odcoqorspbl6.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/uonrql6sd4ya22bojaxd.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/vhjteobzgvxsokxwl6v5.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/chkapv4ifpqpzvnvepgb.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/uowprofymqcl8yiwxwao.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/zukljpmhcsrisge7xe7h.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[1624fr_816fr_2162fr_1441fr_512fr_1786fr_707fr_1541fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ghckzswu2qxyjooxjkto.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/p5p7utk2c0jyiqv3p6rr.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/wuocisgrngjgpn1aeqpw.png"
    imgClass="w-full"
    class="md:row-span-4 md:col-span-4"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/lzcsielh1zjympu54rex.png"
    imgClass="w-full"
  ></app-image-viewer>
  <div class="hidden md:block"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/r3c7pcfxsens753p38gk.png"
    imgClass="w-full"
    class="md:row-span-3 md:col-span-2"
  ></app-image-viewer>
  <div class="hidden md:block"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ik8lmmkzlgmeekvteg1r.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/hxtrrsd8skko19or7ftj.png"
    imgClass="w-full"
    class="md:row-span-3"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/dweho5d8d4we9gs76cdu.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/t5fcnzl4geoi4vfrziek.png"
    imgClass="w-full"
    class="md:row-span-3 md:col-span-3"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/i9fprkfylb9wqotsloo9.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-2"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/slgdtieuwhimwohq2tzd.png"
    imgClass="w-full"
    class="md:row-span-3 md:col-span-2"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-2"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/h9gz8zudtsnd3gzunbit.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>
  <div class="hidden md:block md:col-span-3"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/hjag6jhzl9uwj9kbzijg.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/uqlbi1l68xz6euggl2xv.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/eok8hxre2viccmcdahyt.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/e8s8ej2xhrqgjlhf9xfb.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[1656fr_repeat(5,1818fr)] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ith7fpk077e9jbb1jsv3.png"
    imgClass="w-full"
    class="md:w-[75%]"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/bp5odfctxzlt8uutsly7.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/uuxlyaiemj37oxelrvxb.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/zbrhnxztoiaegx1jyx3i.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/rdmjkkqpsmxwvbjxkx1c.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/dmoji79bkwc3ndgfouem.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/nnombrxjjvzq39nn3s7g.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[1656fr_494fr_494fr_1590fr_898fr_864fr_906fr_2342fr_1600fr] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/wwtkyglbzvdesk7gqtv9.png"
    imgClass="w-full"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-3"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/cdyk6spz3sutnctzahmc.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/c3ytv5wqypueb2pwk5cr.png"
    imgClass="w-full"
    class="md:col-span-2 md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/xk8ekosywoirwyjfvrtl.png"
    imgClass="w-full"
    class="md:col-span-3 md:row-span-4"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/gstnykeyu051grlrk2v3.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-6"></div>
  <div class="hidden md:block"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/xaogjbdro8nhpolz3tlz.png"
    imgClass="w-full"
    class="md:col-span-2 md:row-span-3"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-2"></div>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/lgy37ocwnbokcbivnuh7.png"
    imgClass="w-full"
    class="md:col-span-2 md:row-span-3"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/de5n8bjsyggxddracd8g.png"
    imgClass="w-full"
    class="md:col-span-2 md:w-[75%]"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/blx5u299csx6ix1jfeha.png"
    imgClass="w-full"
    class="md:col-span-2 md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/nxxacw8c9mllij5hukof.png"
    imgClass="w-full"
    class="md:col-span-4 md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ngauez2oxzfogdkao28k.png"
    imgClass="w-full"
  ></app-image-viewer>
  <div class="hidden md:block"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/bmcpahtthhp3hlprie7c.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/k64mnmugrvjnify3mja5.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[3143fr_292fr_292fr_1200fr_1200fr_1411fr_2583fr] gap-[12px] mb-[12px]">
  <div class="hidden md:block"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/oqstmtn4copftoaphcgv.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ybts2nsjiffglhyhexoq.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/odevwr4qlwlre9ncemvy.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/gahymby0c7jcaaj30evz.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/wndtseydbejbndcekf0s.png"
    imgClass="w-full"
    class="md:row-span-2"
  ></app-image-viewer>

  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/ovz31jhajkyir76qszc0.png"
    imgClass="w-full"
    class="md:row-span-2 md:col-span-2"
  ></app-image-viewer>
  <div class="hidden md:block md:row-span-2"></div>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/su0fjmvgdfsvscd8q4gj.png"
    imgClass="w-full"
    class="md:col-span-2"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/a4mxvbn3pjbuotrewzk1.png"
    imgClass="w-full"
    class="md:w-[75%] md:float-right"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-ecom/enyrycm8r2o6mjhvgznm.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>
