<div class="experience-group-title-wrapper">
  <div class="experience-group-title">
    Cover, banner for app
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[2652fr_4578fr_2602fr] gap-[12px] mb-[12px]">
  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/zcwlxxgzto3n4amkcytq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/yid8ilpecgmxlisqnaqw.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/makclfyqcbqdnc45wpjp.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/r0tlxpytph357v5kg8nm.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/rix3loezrsei5cibl4jk.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/fungqytarpdrgq0qfefq.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-[1822fr_4796fr_repeat(2,1822fr)] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/nubhe1iszwmxcxedezxy.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/bw9elgnjxsxqyynw3gyz.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/lzzgtda5ldhsmr7i7quv.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/ak4mljj36arbmxwssyyr.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/qxiids3f7bozmk7ddzxq.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/k1lyr6lwweti1q4x32qf.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/vhvmqeyerby50ujpeva9.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>

<div class="grid grid-cols-1 md:grid-cols-[2314fr_repeat(4,2014fr)] gap-[12px] mb-[12px]">
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/gwrbummon1p7umrabjpx.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/vooe6wt56bsapp56qfol.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/arulgualrwjuqvqklnwv.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/viypswuxq9tejjrokh5j.png"
    imgClass="w-full"
  ></app-image-viewer>
  <app-image-viewer
    src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/page-app/qgw3rqytpxlb2lhuqbsz.png"
    imgClass="w-full"
  ></app-image-viewer>
</div>
