<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Hologram</div>
</div>

<div class="experience-detail-main">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581314/linh-amber-design/hologram/reoze9tvzcipwncnrvfd.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581318/linh-amber-design/hologram/zvoovzkqfpxgigozd91t.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581314/linh-amber-design/hologram/ia6zel28lckkhaie08qf.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581327/linh-amber-design/hologram/uoptopsdgquzozrzhesr.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581363/linh-amber-design/hologram/nncjntpgwfmufdvqho7c.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581354/linh-amber-design/hologram/wc7bewtexiljahsmeqcx.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3533fr_4318fr] gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693582070/linh-amber-design/hologram/rh3dqqel1bxynq4x2ud9.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693582378/linh-amber-design/hologram/chenkkogg79rto2dobc0.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693582920/linh-amber-design/hologram/imblc7hx0yihpcoftk7e.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3720fr_4025fr] gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693582377/linh-amber-design/hologram/b8n5db3aijaavji493hr.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693582374/linh-amber-design/hologram/cvwuofgqq4iosuizr2oc.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693581351/linh-amber-design/hologram/gpowudpob6tuqbeoyubi.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
