<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Hologram</div>
</div>

<div class="experience-detail-main">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/reoze9tvzcipwncnrvfd.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/zvoovzkqfpxgigozd91t.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/ia6zel28lckkhaie08qf.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="video-container mb-[12px]">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vjY8D3EQnfM?si=pue6dAFw65vb8_8i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/uoptopsdgquzozrzhesr.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/nncjntpgwfmufdvqho7c.jpg"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/wc7bewtexiljahsmeqcx.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3533fr_4318fr] gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/rh3dqqel1bxynq4x2ud9.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/chenkkogg79rto2dobc0.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/imblc7hx0yihpcoftk7e.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3720fr_4025fr] gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/b8n5db3aijaavji493hr.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/cvwuofgqq4iosuizr2oc.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 gap-[12px] justify-between mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/hologram/gpowudpob6tuqbeoyubi.jpg"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
