<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Etude</div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      [2024] Holiday Key Visual Shopee
    </div>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/etude/cover 1.png"
      imgClass="w-[50%]"
      class="flex justify-center"
    ></app-image-viewer>
  </div>

  <div class="video-container mb-[12px]">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YeWX_JplhxQ?si=NV_3uhVaLxp-4rYK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/etude/11-Recovered 1.png"
      imgClass="w-[50%]"
      class="flex justify-center"
    ></app-image-viewer>
  </div>
</div>
