<div>
  <div class="experience-wrapper page-container">
    <div class="experience-grid">
      <app-experience-card
        (click)="onDetailCardClick(item)"
        *ngFor="let item of experienceList"
        [item]="item"
      ></app-experience-card>
    </div>
  </div>
  <div
    *ngIf="showDetail" class="experience-detail-wrapper"
    [@slide]="detailTriggerState"
  >
    <a [routerLink]="['/experience']" class="experience-detail-close-button">Close</a>
    <router-outlet></router-outlet>
  </div>
</div>
