<div class="experience-detail-info">
  <div class="text-header experience-detail-header">LYSILK</div>
  <div class="text-subheader experience-detail-header">
    LYTRENDY DESIGN established in 2016 is a pioneer in the field of Lingerie, Design Pajamas with the desire to arouse the spirit of "Love yourself from the smallest things" of modern women.
  </div>

  <div class="text-content experience-detail-header">
    <div>
      <b>Facebook cover, Facebook post</b> about the brand's current sale programs, notifying users about the time, sale products... based on content's request and <b>Advertising designs</b> to users via social networking platforms based on content and image requests from Digital marketing.
    </div>
    <div>
      <b>Store posters</b> and <b>voucher, standee</b>
    </div>
    <div>
      <b>Design sales programs for e-commerce platforms</b> such as Lazada and Shopee...
    </div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post and store poster
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/mwvcjxmsomjb9exwpmha.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/vycdzneduva3jqu1mhas.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/pyet6l5opaqqpssl1t5k.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/uvhsmdjjfzopqtnwybfg.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3122fr_3102fr_3195fr_3404fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/vpvvbyhktkzyiq2i3sqg.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/qs5rvsbhxmjta06pdq5u.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/kcctdgx2snwofdej5owh.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/frkddya8bf1f40zbvpbt.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/rfxph4yicy2efrxgwnft.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/gc3ev1xzo07wahyqmsxu.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/g5xoriyaoi5lgcxbtqaj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/ifjlgjlp32uggvokmai4.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[6922fr_2629fr_1752fr_1754fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/kp2lbwvehmwcfcjj57ym.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/qreimdxdkn9seb1yrdki.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/zzrnv1mqomv4h8wj8ojj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/facebook-store/hyrjqp4lfvphjg0wizxk.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Ecommerce
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[4953fr_4787fr_2985fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/ijq4xcw10xhn7ayh6thd.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/nen3rmshp50oyyb82oxa.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/wk27gvj69memfu1ooyrn.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-[2329fr_2458fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/oduk1jvpaypcvew9mdjc.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/udgunvkwotofuw7ow5ik.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/laqsbwlfsyistdykhupu.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/oxqjxpizdyec2wjgh8za.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-[812fr_1968fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/gy7dijgfb2lwqr0goauz.png"
        imgClass="w-full"
        class="col-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/w1x9e9swkdjitrvsqayh.png"
        imgClass="w-full"
        class="col-span-2"
      ></app-image-viewer>

      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/ag1mek8bdgm60lutwwmh.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/kovymyir9yti6wtqs8ay.png"
        imgClass="w-full"
        class="row-span-3"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/djrruhm5rb2dy6gvhlue.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/wdjtjqy4xun8wjhaqvhb.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1768fr_1770fr_1769fr_1767fr_1671fr_1769fr_1770fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/xvgyvdz7we4bvplyypye.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/fqpp06bs18tnby0ldpjq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/fgv2hpvr3sqpkyacrp77.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/swlzivmmwvb0agcmumy1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/s3ccnuwup2fpzbnmai3w.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/lfyhhzbum6pt654pvez6.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/gb9uw710hnrmwfjtqfrf.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1fr_repeat(5,2fr)_1fr] gap-[12px] mb-[36px]">
    <div></div>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/jgdgliyjux0uzkfvmnlz.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/djwhr1rlpk5pk7kum6nn.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/tibzaqhpeom6ixwdmluo.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/zetsj82c5sihw08s9bkr.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/ecommerce/opxna6dalwue0gbkk4di.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div></div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post and store poster
  </div>
  <div class="experience-group-subtitle">SALE DAY</div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(5,1629fr)_repeat(3,1517fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/vojtrlh6ydihs4kfnosx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/fetewiptl0bcwyc9x2yj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/ct3wvi4ubblrzr5svoei.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/sytvszcqodmpvapxbkoi.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/ia41mo7alu7aqph5lj3r.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/usu9vpvot8rfa5h4fptv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/s58doisrymmpitwbz335.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/ognwrv1u0r9llvcidtuw.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/tzh8ihuxeuqwhchz6u8b.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/putjglrpzgfn5rdvm61w.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/hasfmpdqnnzvvcrutvmy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/p1iine8lyhkutwbkmclj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/sale-day/clbnxmur3pmv0xev6uwn.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post and store poster
  </div>
  <div class="experience-group-subtitle">BLACK FRIDAY</div>

  <div class="grid grid-cols-1 md:grid-cols-[5144fr_2408fr_3505fr_2337fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/fuokvqc2jdxpf5edt3do.png"
      imgClass="w-full"
      class="row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/gstytr1bzhl1zajdunog.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/p8irctnstidt8d9ysaum.png"
      imgClass="w-full"
      class="row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/dygd2iyxspvbqjhbaxvl.png"
      imgClass="w-full"
      class="row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/wodasm5dsauzflwlwvdy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2363fr_8397fr_2363fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/juclsdyxti2vrnvchn54.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[2041fr_2860fr_1832fr_1604fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/flqubhwwxgm5mqjrldmf.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/vgf9p98syylvcepeff2y.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/jqeegwuydpsm0bljaxoa.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/ynbnphekrdd0ncxq8xiz.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/tqdagvjbd1ukawpqjfj8.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[3790fr_1444fr_1448fr_1675fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/imtrv6dtso1bs2vb7wsp.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/xjt7ezslo8sjaeiuxhye.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/imigamao7ysifd3c8mqc.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/black-friday/sxezsywp7t7rwotjdjrn.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post and store poster
  </div>
  <div class="experience-group-subtitle">LUNAR NEW YEAR</div>

  <div class="grid grid-cols-1 md:grid-cols-[10823fr_2736fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/swe6zaj9o27ms1pdrhvc.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/jml26pwuntkwq1dowxsu.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3516fr_2656fr_repeat(2,3572fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/otmdnmtw5uwcexlhiclp.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/awn6ya7lrgipermqxsmr.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/hny7zmvenip3zaebwn8r.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/enafcalunt6v0g2xskkq.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/vkfgfzft9wohy69qjkf9.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3597fr_6240fr_3962fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/jqcrq1epjsjro80nwuw3.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[2880fr_3360fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/nacj3vwfr4fnnnzkjygg.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/x0g3zgabeushueair9qp.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/ugxnlz2aeyku8wpmlh8i.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-[2056fr_2053fr_2243fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/vfsytpzpmgqm46gf1kra.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/ryotp5nq9qgvdjinikrc.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/lunar-new-year/pb8pksjoszur4hcmbkj3.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Standee store
  </div>
  <div class="experience-group-subtitle">Grand opening</div>

  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/lysilk/vhrseqiztacgml928atf.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
