.experience-card {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 2109 / 2879;
  cursor: pointer;
  display: block;
  transition: transform 200ms ease-in-out;
  position: relative;
  overflow: hidden;
  &:hover {
    transform: scale(0.85);
    transform-origin: center;
  }

  img {
    width: 100%;
    position: absolute;
  }
}
