.experience-card {
  background-color: gray;
  width: 100%;
  aspect-ratio: 9 / 16;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  &:hover {
    transform: scale(0.9);
    transform-origin: center;
  }
}
