.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
}

.menu-toggle {
  border: 2px solid black;
  background-color: white;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-logo-img {
  width: 180px;
}

.header-right-pane {
  display: flex;
  gap: 8px;
  align-items: center;

  > a {
    display: none;
    > img {
      width: 32px;
    }
  }
}

@media (min-width: 640px) {
  .header-right-pane {
    > a {
      display: block;
    }
  }
}
