<div class="experience-detail-info">
  <div class="text-header experience-detail-header">IME</div>
  <div class="text-subheader">Fashion brand IME</div>

  <div class="text-content experience-detail-header">
    <p>
      Super product “NOAA T-shirt” – Gift for fans
    </p>
    <p>
      The NOAA shirt is a passionate gift that Son Tung M-TP gives to fans. In particular, the oversized shirt has only one black color with the project's official typo and hand-drawn drawings by Son Tung M-TP! Collaboration with IME and VIN ID.
    </p>
  </div>

  <div class="grid grid-cols-[5359fr_7047fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/e6trrzuzvuuikq4uyqqv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/e6s5vgdhrx9i23wviisp.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div>
  <div class="text-content experience-detail-header">
    <b>Facebook cover, Facebook post</b> about the brand's current sale programs, notifying users about the time, sale products... based on content's request and <b>Advertising designs</b> to users via social networking platforms based on content and image requests from Digital marketing.
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook cover
  </div>

  <div class="grid grid-cols-3 gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/xpf6y5ckghn4jvsiqkif.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/l1shnvimnto7cmigqdxf.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/xyjztz7iyt736ixto4us.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-[3000fr_3017fr_3018fr_2998fr] gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/g98qva3b2k5l9nktgl4g.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/q7mvcrjzr38vv7tsxgeg.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/xbdsayrruscrazfj6i1k.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/khvttkuyhwglqk5yfqio.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-[1500fr_737fr_repeat(2,2911fr)_1500fr] gap-[12px] mb-[24px]">
    <div></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/rqcgpy4acnf50xfrnlaj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/eluzmywahkdconya60zm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/dfhkokcxjr7gtwinmkrm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div></div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post
  </div>

  <div class="grid grid-cols-[repeat(30,99fr)_4522fr] gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/rxoaz7bjznspmmzltbt6.png"
      imgClass="w-full"
      class="row-span-3"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
      class="col-span-6"
    ></app-image-viewer>

    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/ime/d5cotcmvzwohcjoc2qv1.png"
      imgClass="w-full"
      class="col-span-5"
    ></app-image-viewer>
  </div>
</div>
