<div class="experience-detail-info">
  <div class="text-header experience-detail-header">IME</div>
  <div class="text-subheader experience-detail-header">Fashion brand IME</div>

  <div class="text-content experience-detail-header">
    <p>
      Super product “NOAA T-shirt” – Gift for fans
    </p>
    <p>
      The NOAA shirt is a passionate gift that Son Tung M-TP gives to fans. In particular, the oversized shirt has only one black color with the project's official typo and hand-drawn drawings by Son Tung M-TP! Collaboration with IME and VIN ID.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[5359fr_7047fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/e6trrzuzvuuikq4uyqqv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/e6s5vgdhrx9i23wviisp.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div>
  <div class="text-content experience-detail-header">
    <b>Facebook cover, Facebook post</b> about the brand's current sale programs, notifying users about the time, sale products... based on content's request and <b>Advertising designs</b> to users via social networking platforms based on content and image requests from Digital marketing.
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook cover
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/xpf6y5ckghn4jvsiqkif.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/l1shnvimnto7cmigqdxf.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/xyjztz7iyt736ixto4us.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3000fr_3017fr_3018fr_2998fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/g98qva3b2k5l9nktgl4g.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/q7mvcrjzr38vv7tsxgeg.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/xbdsayrruscrazfj6i1k.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/khvttkuyhwglqk5yfqio.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1500fr_737fr_repeat(2,2911fr)_1500fr] gap-[12px] mb-[36px]">
    <div></div>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/rqcgpy4acnf50xfrnlaj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/eluzmywahkdconya60zm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/dfhkokcxjr7gtwinmkrm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div></div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Facebook post
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(5,1416fr)_4522fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/pez21ensqceycehizklb.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/r2gybl5epqbf3myl0vu4.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/n4mg9etcpisryhkyjewn.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/clgucdnjilmaor7zqksf.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/pjvd7tqghp1ey2jroipj.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/rxoaz7bjznspmmzltbt6.png"
      imgClass="w-full"
      class="row-span-3"
    ></app-image-viewer>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/di2z5qo00eym64muaky2.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/au014js0xdbx9vgmfgg0.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/oznyj8nmvvygiqnrhxty.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/s8cl3ckeuqejpybglduj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/fl8h3lfzilwickmrkkso.png"
      imgClass="w-full"
    ></app-image-viewer>

    <div class="md:col-span-5 grid grid-cols-1 md:grid-cols-6 gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/d5cotcmvzwohcjoc2qv1.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/tfxgdrvcnzwftpqmhet2.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/lmf4smso1nv719ouhqcj.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/kwhmcy0mbgps1obev8x7.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/bttx0qcavqu1iktkwwer.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/p15r6gorgjg9evaowffi.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2891fr_6511fr_2890fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/r2gybl5epqbf3myl0vu4.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/p300c5orwvzvivi4rkyq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/edxfnjxzk7bg39upgdwm.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(4,2289fr)_3191fr] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/ccsvwewmcgs6icpyxls4.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/nroiyakfuoxt6ekeoglq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/gyuegdehosmio2hbyug6.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/zcazz6tk2vcb7jepl41u.png"
      imgClass="w-full"
    ></app-image-viewer>

    <div class="md:row-span-2 grid grid-cols-1 md:grid-cols-2 gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/miywig4nh80h6mpdghso.png"
        imgClass="w-[96%] float-right"
        class="col-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/lt0wrfmqfcwlptetshzw.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/pl232s8rnyonuetoapvw.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/qofshddcdth2zgjanyn5.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/e3ryxnt17cv5llhc9of9.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/pwsmvdmapuwg3es1n0pz.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/e3xtiv4xwy0ntwzaipyo.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[6612fr_1807fr_repeat(3,1395fr)] gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/v6kjnnib3md5uad8k5ha.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/w9quvdltr7r6q5vscdch.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/hhlaz4sc5n0g3ofnnbth.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/szgsghqq9ogg0orw01hq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/rcv34qqt1j5k8zf0p9t4.png"
      imgClass="w-full"
    ></app-image-viewer>

    <div class="md:col-span-4 grid grid-cols-1 md:grid-cols-2 gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/hrjsgrxfamvhz1qqmohd.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/klmop26bepk6xquvcncg.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[3211fr_6375fr_3179fr] gap-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/g07oi4mciegrbisl2hzl.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[1657fr_1703fr_1707fr_1236fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/cjv8bu9rakb16om1khfh.png"
        imgClass="w-full"
        class="row-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/qkz3fyw4boq5cicvgwp2.png"
        imgClass="w-full"
        class="row-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/oa1e8jdfmp1ennjbzpef.png"
        imgClass="w-full"
        class="row-span-2"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/h5ztpb9jpkay0qxkk0fs.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/scso5ymw7eivux56d8db.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/u8zurbymds4ak7ad4zzn.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>

    <div class="grid grid-cols-1 md:grid-cols-[1539fr_1471fr_3314fr] gap-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/rtuali70ninoj1ohtt5y.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/vw3eact1bctq4ibylgex.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/ime/hgwpiwrhyqnb2lvihlzv.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>
</div>

<div class="mt-[36px]">
  <div class="experience-group-title">
    Video
  </div>

  <div class="mt-[36px]">
    <div class="video-container mb-[12px]">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VE8T2QDR6r0?si=MLZUgqjR0TTeh1Wv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container mb-[12px]">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZK4ahUNROrE?si=lpMKR2t5g9UshYoK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container mb-[12px]">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/l4lRxORerao?si=LMqGeem87Y2D1MeT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container mb-[12px]">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/zwYKYb8bVuo?si=yS468bR4EDztOGou" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
