.home-logo {
  width: 140vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: unset;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

@media (min-width: 640px) {
  .home-logo {
    width: 90vw;
  }
}
