<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Sulwhasoo</div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Key Visual
    </div>
  </div>

  <div class="experience-description text-left">
    [2024] Key Visual Design
  </div>

  <div class="video-container mb-[24px]">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Pe8gXUmERBw?si=nP_k65jm2S7QLcEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  
  <div class="grid grid-cols-1 md:grid-cols-[282fr_529fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/cover face copy.png"
        imgClass="w-full"
      ></app-image-viewer> 
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/22 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div> 

    <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/12- vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/18  vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/19  vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/9 - vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/10 - vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/11 - vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/17  vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/13- vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/01/15- vuong copy.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="video-container mb-[24px]">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jJQ-_sRYzzI?si=tmCk6VMISCD3DS56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(2,128fr)_147fr_repeat(3,128fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/25 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/26 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/33 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/29 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/27.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/02/30.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1017fr_994fr] gap-[12px] mb-[24px]">
    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/1555 copy 1.png"
        imgClass="w-full"
      ></app-image-viewer> 
    </div> 

    <div class="grid grid-cols-1 md:grid-cols-2 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/16 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/17 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/19.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/20 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/21.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/18 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div> 

  <div class="grid grid-cols-1 md:grid-cols-[577fr_211fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh4 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh5 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div> 

    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh7 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh10 copy.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh8 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh112 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh9 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/04/hh6 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-6 gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/11 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/9 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/8 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/13 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/v copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/6.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/hh3 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/tttt copy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/gggggg5 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/gggggg copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/gggggg2 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/gggggg4 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/gggggg3 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/24 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/2 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/3 copy.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/7.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/4.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/6 copy.png"
      imgClass="w-full"
    ></app-image-viewer>

    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/7 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/1 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/jewelry/03/5 copy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
