<div class="experience-detail-info">
  <div class="text-header experience-detail-header">BREAK WOODEN</div>

  <div class="text-content">
    <b>Facebook cover, Facebook post</b> about the brand's current sale programs, notifying users about the time, sale products...<br/>
    based on content's request and <b>Advertising designs</b> to users via social networking platforms based on content and image requests from Digital marketing.
  </div>
</div>

<div>
  <div class="grid grid-cols-1 md:grid-cols-[1953fr_5139fr_2981fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/ictaj3r28n0tihg92sbe.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/b2tu0ftkjk5o3oenzqnx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/b7zsqqk9xlxb9lhqtatd.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[4133fr_6208fr] gap-[12px] mb-[24px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/wc2tbpwbmbhpayt7zwpz.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/s66ljsvlyibnhcm5dmdn.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2839fr_2840fr_4601fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/m28reds92ni1mzdmnhm2.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/pluh8pxi0zq2o7nsisza.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/sd4c8umjazwz3dsvbdfb.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(2,3941fr)_2433fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/sg5uidbnjluweojhj866.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/dpw8qr3zzagu2ovyughh.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/pv67p8gkg4y2ywcfmaiy.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="experience-detail-info mt-[60px]">
  <div class="text-header experience-detail-header">TPBANK</div>
</div>

<div>
  <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/other-projects/h92wyuk734hvbhlpwvzv.png"
      imgClass="w-[75%]"
      class="flex justify-center"
    ></app-image-viewer>
  </div>
</div>
