<div class="experience-detail-info">
  <div class="text-header experience-detail-header">Sulwhasoo</div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      [2024] Holiday Key Visual Shopee
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/4.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/3.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/2.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[643fr_483fr_329fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/7 - key 2222 1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/7 - key 2222 - ngang 1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://pub-6842579bafc44e4ca5c1712d83322b41.r2.dev/sulwhasoo/popup 1.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

</div>
