/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img, video {
    max-width: initial;
    height: initial;
  }
}

@font-face {
  font-family: "Swis721";
  src: url("/assets/fonts/Swis721 Lt BT Light.ttf");
}

* {
  font-family: 'Swis721', 'Roboto', serif;
}

.text-header {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-subheader {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-content {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.experience-detail-info {
  margin-bottom: 60px;
}

.experience-detail-header {
  margin-bottom: 12px;
  padding-right: 40px;
}

.experience-detail-main {
  padding-left: 20px;
  padding-right: 20px;
}

.experience-group-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-bottom: 24px;

  .experience-group-title {
    margin-bottom: 0;
  }
}

.experience-group-title {
  display: inline-block;
  background-color: #3362CF;
  color: white;
  padding: 8px 20px;
  margin-bottom: 24px;
  font-weight: 600;
}

.experience-group-subtitle {
  color: #3362CF;
  font-weight: 600;
  margin-top: -16px;
  margin-bottom: 24px;
}

.experience-group-link {
  color: #3362CF;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  .experience-detail-main {
    padding-left: 80px;
    padding-right: 80px;
  }
}
