<div class="experience-detail-info">
  <div class="text-header experience-detail-header">BAO SON GROUP</div>
  <div class="text-subheader experience-detail-header">BAO SON HOSPITAL, PARADISE PARK</div>

  <div class="text-content experience-detail-header">
    Through 30 years of efforts to build and develop, Bao Son Group has continuously grown, becoming a powerful and prestigious multi-industry economic group in the Vietnamese and international markets.
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Cover landingpage website 1
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/bao-son/1']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="w-[75%] m-auto">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/x7sjdrizuvlwzfofb7gh.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Cover landingpage website 2
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/bao-son/2']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="w-[75%] m-auto">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/mg3y18wpkgwgs01tewgr.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Cover landingpage website 3
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/bao-son/3']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="w-[75%] m-auto">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/pxso1xty1uayawwlcwgc.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Cover landingpage website 4
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/bao-son/4']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="w-[75%] m-auto">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/tvmo3g5segn2pje3j04b.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[36px]">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-[12px] mb-[36px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/kf4uwanx9gaicttxxlrj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/xv54n98gh10r5jihrgfk.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/baoson/nq0ajz9r4j0hnjdlf0au.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[36px] flex justify-center">
  <div class="experience-group-link">
    >> VIDEO
  </div>
</div>

<div
  *ngIf="showDetail" class="experience-bao-son-landing-wrapper"
  [@slide]="detailTriggerState"
>
  <a [routerLink]="['/experience/bao-son']" class="experience-bao-son-landing-close-button">Close</a>
  <router-outlet></router-outlet>
</div>
