<div class="menu-wrapper">
  <div class="menu__container">
    <div class="menu__page-list">
      <a class="menu__page-list-item">
        eXperience
      </a>
      <a class="menu__page-list-item">
        About
      </a>
      <a class="menu__page-list-item">
        Contact
      </a>
      <a class="menu__page-list-item">
        Hiring
      </a>
    </div>
    <div class="menu__sub-list">
      <a class="menu__sub-list-item">
        <div class="menu__sub-list-item__title">News</div>
      </a>
      <a class="menu__sub-list-item">
        <div class="menu__sub-list-item__title">Virtual Showroom</div>
        <div class="menu__sub-list-item__description">Something to say</div>
      </a>
      <a class="menu__sub-list-item">
        <div class="menu__sub-list-item__title">Plus X Object</div>
        <div class="menu__sub-list-item__description">Something to say</div>
      </a>
    </div>
  </div>
</div>
