<div class="menu-wrapper">
  <div class="menu__container">
    <div class="menu__page-list">
      <a [routerLink]="['experience']" class="menu__page-list-item">
        Experiences
      </a>
      <a [routerLink]="['about-me']" class="menu__page-list-item">
        About
      </a>
      <a [routerLink]="['contact']" class="menu__page-list-item">
        Contact
      </a>
    </div>
    <div class="menu__contact">
      <a href="mailto:linhamber@gmail.com">
        <img src="assets/images/icon-email.svg" alt="">
      </a>
      <a href="tel:+84123456788">
        <img src="assets/images/icon-phone.svg" alt="">
      </a>
      <a href="#" target="_blank">
        <img src="assets/images/icon-instagram.svg" alt="">
      </a>
      <a href="#" target="_blank">
        <img src="assets/images/icon-whatsapp.svg" alt="">
      </a>
    </div>
  </div>
</div>
