<div class="menu-wrapper" [@fade]="backgroundState">
  <div class="menu__container">
    <div class="menu__page-list">
      <a [@riseUp]="routeStates[0]" (click)="onNavigate($event, 'experience')" href="/experience" class="menu__page-list-item">
        Experiences
      </a>
      <a [@riseUp]="routeStates[1]" (click)="onNavigate($event, 'about-me')" href="/about-me" class="menu__page-list-item">
        About
      </a>
      <a [@riseUp]="routeStates[2]" (click)="onNavigate($event, 'contact')" href="/contact" class="menu__page-list-item">
        Contact
      </a>
    </div>
    <div class="menu__contact">
      <a href="mailto:linhamber.designer@gmail.com">
        <img src="assets/images/icon-email.svg" alt=""/>
      </a>
      <a href="tel:+84355840696">
        <img src="assets/images/icon-phone.svg" alt=""/>
      </a>
      <a href="https://www.instagram.com/lynklevy" target="_blank">
        <img src="assets/images/icon-instagram.svg" alt=""/>
      </a>
      <a href="#" target="_blank">
        <img src="assets/images/icon-whatsapp.svg" alt=""/>
      </a>
    </div>
  </div>
</div>
