<div class="experience-detail-info">
  <div class="text-header experience-detail-header">EDUPASS</div>

  <div class="text-content">
    EduPass International English Center System <br/>
    Established in 2020.
  </div>
</div>

<div class="">
  <div class="grid grid-cols-1 md:grid-cols-[3602fr_repeat(3,2756fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586128/linh-amber-design/edu-pass/fg4uj2tkl6ja74qgbsif.png"
      imgClass="w-full"
      class="md:row-span-2"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586118/linh-amber-design/edu-pass/ligz2p3fyj2cyw79ju3h.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586117/linh-amber-design/edu-pass/vbxakml76dcyseah7u5o.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586115/linh-amber-design/edu-pass/rqsqalhknjsagr15yncb.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-[2409fr_repeat(3,1875fr)] gap-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586115/linh-amber-design/edu-pass/rqsqalhknjsagr15yncb.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586098/linh-amber-design/edu-pass/xqqyoqfhjrykkajrcadd.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586104/linh-amber-design/edu-pass/jbjcyzwtblcy6o1idslm.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586081/linh-amber-design/edu-pass/vljvvucvozqame3bfb1u.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(3,2690fr)_4034fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586107/linh-amber-design/edu-pass/cxdfwyi8gan3f4hbdisp.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586120/linh-amber-design/edu-pass/qvyrnuj14hhhhibjrvg6.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586116/linh-amber-design/edu-pass/hjmwbgcdnmzuhyzp65js.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586114/linh-amber-design/edu-pass/ykrslcvpiq86nyuljqsg.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586085/linh-amber-design/edu-pass/lumot3zn29ifaokyvees.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586090/linh-amber-design/edu-pass/bd5ejjg5kxbkcojbg316.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586092/linh-amber-design/edu-pass/nleaenfyjdtvuiuexmcs.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586086/linh-amber-design/edu-pass/rlczxyp5xozoudpyotsq.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586082/linh-amber-design/edu-pass/nle4rvdkh6qa36k496km.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(4,1943fr)_1991fr_1943fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586094/linh-amber-design/edu-pass/sbqawxpgmrolwomdtyb1.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586084/linh-amber-design/edu-pass/ew5kjuimckpbfcypbfpw.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586091/linh-amber-design/edu-pass/avrd2par5nggq7jk8adx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586095/linh-amber-design/edu-pass/qedqfegaa2kzukc0gwmn.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586080/linh-amber-design/edu-pass/bkpe1nepadmmkantquhg.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586082/linh-amber-design/edu-pass/janfnjdemygfx8chsmn9.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2431fr_2343fr_2302fr_2236fr_2343fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586087/linh-amber-design/edu-pass/ehyvw0ilwgkvhkq5jcee.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586104/linh-amber-design/edu-pass/bpso04zhrvdsyz3qgyps.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586094/linh-amber-design/edu-pass/fjgd2sylkpiwywyatupw.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586109/linh-amber-design/edu-pass/k8py7doaf8srhffykqqm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586094/linh-amber-design/edu-pass/sbqawxpgmrolwomdtyb1.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>
