<div class="experience-detail-info">
  <div class="text-header experience-detail-header">ELISE</div>

  <div class="text-content experience-detail-header">
    Elise's full name is ELISE FASHION LIMITED COMPANY operating in the field of garments and fashion design serving the domestic market and the goal of developing foreign markets.
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Facebook, website cover
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/elise/cover']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="experience-description">
    Cover facebook fanpage and website of the brand's current sale programs, notifying users about the time, sale products...
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[6476fr_6458fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/xxftptzgwrgrvsadvmsv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/quy4gn8gnh2ztt6cwndd.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[4220fr_4279fr_4281fr] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/dfwwyhwlb53wzepqndps.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/slhkasatponbtvks7hbd.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/rkejmm38bds2rp9nz2ci.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2200fr_repeat(4,1954fr)_2200fr] gap-[12px] mb-[12px]">
    <div class="hidden md:block"></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/cjdzteco6b5ux7d0ny4m.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/zhokmzjkeclyjhtslkbo.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/yhkfaett9mrfhhj3vdo2.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-cover/atzusej65boeiyb3w9hl.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div class="hidden md:block"></div>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Facebook post
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/elise/post']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="experience-description">
    Facebook post about the brand's current sale programs, notifying users about the time, sale products...
  </div>

  <div class="grid grid-cols-1 md:grid-cols-8 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/tehg8fjkcbwoucayqvrn.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/rovw559myqw4t4ye5zfu.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/rpujubdmmetvrmzdtsqh.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/qyn7orl7ttshm502j6ps.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/hleiipxwlz4s9hdcmi0v.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/osdsx2873jiixbvirxer.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/tpevi9zlt7zaaehvg24t.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/yhi20lxioapetpohmzj2.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[800fr_repeat(4,2307f)_800fr] gap-[12px] mb-[12px]">
    <div class="hidden md:block"></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/zy4yjt0tgwyyfbcmujgx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/pnczoryavigrsa8jimv0.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/im9lqd4a7wdmzlkvnkfj.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/nqqaty5mmek6ffs7cnfm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div class="hidden md:block"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/sdgruxnjbaplsrusb91o.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/f9b9qc36ql1kmrigd6so.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/i5wwrqxiqxejfowyiasu.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/qqptuo4r5rba4jxs5pn9.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-post/embbjieen6cfvwti8mft.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Advertising social network
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/elise/ads']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="experience-description">
    Advertising designs to users via social networking platforms
  </div>

  <div class="grid grid-cols-1 md:grid-cols-7 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/dmb2cgbnh7nxqmcbnjxk.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/f4mkx6oyd2magya4k3bt.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/ychns7uwuyjgjowy66tv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/qonuhcqbzpczhj8rawdx.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/n1yaxuyxbbjgvnv76ita.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/ychns7uwuyjgjowy66tv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/qgdc8sp88emwtogdzigr.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1fr_repeat(8,10fr)_1fr] gap-[12px] mb-[12px]">
    <div class="hidden md:block"></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/dwqsx6ltcmylz4qoapku.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/kxk3rhf7xsh784nm5zyg.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/sr1hizlxevit49fbwf5c.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/svkeokxgxaokgmbxepey.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/xj6tmckp6rfqebuygguy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/yc4fr16iidvu4fbwex8f.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/dzmdffaeqbac9fivhyuy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/gd7libqoz79zjpiq7njs.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div class="hidden md:block"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[30fr_repeat(8,10fr)_30fr] gap-[12px] mb-[12px]">
    <div class="hidden md:block"></div>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/sqitkbsnizxpt3hthcik.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/bc5wignqanpflizehbx3.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/lxhwmynhzjdwzxh9odj8.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/dnfleglgpyt8vnvwrdyy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/c3dnli4l9xlnkogru1gf.png"
      imgClass="w-full"
    ></app-image-viewer>
    <div class="hidden md:block"></div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-7 gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/xcr0j7r4dguyuhjatgdp.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/eyb97fxqwumfu5cnk6zk.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/dhhbpgnnvftmtzwewkpm.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/hpqibv1z7bhfigjw4ooy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/vg6c5recmxn58cvilhjh.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/ab66hxraj3psuerkjjif.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ads/t4l8cktmtipfazrfblxn.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Ecommerce
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/elise/ecom']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="experience-description">
    Design sales programs for e-commerce platforms such as Lazada and Shopee...
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[repeat(2,3212fr)_4317fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/eqttjup3yoocghaitoid.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/xwmgykq2uhlfghextcow.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/cdij9dazeqcvbydphgzt.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/thimbeyf7koruqel6lu5.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/dlhiczxsdouq0yquochq.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/mizenlvdgvbpvtejvbud.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/kyxsqvvagivxayqjwftp.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-[1892fr_repeat(2,1005fr)] gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/zn2gvpaqe66tsvsaeq5b.png"
        imgClass="w-full"
        class="md:col-span-3"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/ypkrjroqwxjpvrbi5qh9.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/rwohs1in8m39dgd6lnmf.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-ecom/yreqgcfarmrbpqbdoyvm.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>
</div>

<div class="mt-[48px]">
  <div class="experience-group-title-wrapper">
    <div class="experience-group-title">
      Cover, banner for app
    </div>
    <a (click)="onDetailCardClick()" [routerLink]="['/experience/elise/app']" class="experience-group-link">
      >> Click to see more
    </a>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[2652fr_4578fr_2602fr] gap-[12px] mb-[12px]">
    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/zcwlxxgzto3n4amkcytq.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/yid8ilpecgmxlisqnaqw.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/makclfyqcbqdnc45wpjp.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/r0tlxpytph357v5kg8nm.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>

    <div class="grid grid-cols-1 gap-[12px] mb-[12px]">
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/rix3loezrsei5cibl4jk.png"
        imgClass="w-full"
      ></app-image-viewer>
      <app-image-viewer
        src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/fungqytarpdrgq0qfefq.png"
        imgClass="w-full"
      ></app-image-viewer>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-[1822fr_4796fr_repeat(2,1822fr)] gap-[12px] mb-[12px]">
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/nubhe1iszwmxcxedezxy.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/bw9elgnjxsxqyynw3gyz.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/lzzgtda5ldhsmr7i7quv.png"
      imgClass="w-full"
    ></app-image-viewer>
    <app-image-viewer
      src="https://res.cloudinary.com/dzekisxnu/image/upload/v1693586985/linh-amber-design/elise/main-app/ak4mljj36arbmxwssyyr.png"
      imgClass="w-full"
    ></app-image-viewer>
  </div>
</div>

<div
  *ngIf="showDetail" class="experience-elise-landing-wrapper"
  [@slide]="detailTriggerState"
>
  <a [routerLink]="['/experience/elise']" class="experience-elise-landing-close-button">Close</a>
  <router-outlet></router-outlet>
</div>

