.experience-elise-landing-wrapper {
  z-index: 100001;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 30px 20px;
}

.experience-elise-landing-close-button {
  position: absolute;
  top: 40px;
  right: 40px;
}

@media (min-width: 640px) {
  .experience-elise-landing-wrapper {
    padding: 50px 40px;
  }
}
