<div class="page-container">
  <div class="about-me-intro">
    Hello! My name is Linh Nguyen [ Amber ]. I'm a Graphic Designer and Photographer based in Hanoi, Vietnam
  </div>

  <div class="about-me-content">
    <p>
      I specialize in creating compelling product images are highly commercial and visual identities that embody a brand's purpose. My unique approach blends modernity, practicality, exclusivity, and beauty to create customized design elements that leave a lasting impression. I understand the importance of visual storytelling in building strong brands and strive to create custom designs that resonate with the target audience.
    </p>

    <p>
      With over 4 years of experience, I handle design projects passionately, whether creating Visual Communication Design, a new logo or developing a visual identity and commercial designs. I'm passionate about delivering conformity and confident in my ability to help companies of all sizes create a strong visual identity that reflects their unique values and personalities. So if you're looking for a designer to elevate your brand, I'm ready to bring your vision to life!
    </p>
  </div>

  <div class="about-me-resume-wrapper">
    <img src="assets/images/cv.png" alt="" class="about-me-resume" />
  </div>
</div>
